<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/style.css">
  <title>Travel Time.</title>
</head>

<body>
  <!-- Navbar -->
  <nav id="navbar">
    <div class="nav-logo">
      <img src="../../../img/travel_logo_bg.png" alt="travel-logo">
    </div>
    <ul>
      <li><a href="index.html">My Trips</a></li>
      <li>
        <a href="#">About</a>
        <div class="dropdown-menu">
          <a href="#">Who we are</a>
          <a href="#">How to use our app</a>
          <a href="#">Services</a>
        </div>
      </li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Contact</a></li>
    </ul>

  </nav>
  <!-- Section Front-page -->
  <section id="front-page">

  </section>
  <!-- Footer -->
  <footer id="main-footer">
    <div class="footer-container">
      <div class="join-club">
        <h3>Join My Club</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, nesciunt!</p>
        <a href="#">Join Now</a>
      </div>
      <div class="site-links">
        <h3>Site Links</h3>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Tips</a></li>
          <li><a href="#">Travels</a></li>
        </ul>
      </div>
      <div class="social-footer">
        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f "></i></a>
        <a href="https://www.instagram.com" target="_blank"> <i class="fab fa-instagram-square"></i></a>
        <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/home" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-subscribe">
        <h3>Subscribe</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <form>
          <label for="fname">First name:</label>
          <input type="text" id="fname" name="fname"><br><br>
          <label for="lname">Last name:</label>
          <input type="text" id="lname" name="lname"><br><br>
          <label for="email">Email:</label>
          <input type="email" placeholder="Enter Email...">
          <input type="submit" value="Subscribe" class="btn">
        </form>
      </div>
      <div class="footer-copyright">
        <p>
          Copyright &copy; 2020, All Rights Reserved
        </p>
      </div>
    </div>
  </footer>



</body>

</html>