<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Time.</title>
  <script src="https://kit.fontawesome.com/583e53361f.js" crossorigin="anonymous"></script>
  <!-- <script type="text/javascript" src="../../../dist/main.js"></script> -->
</head>

<body>
  <!-- Navbar -->
  <nav id="navbar">
    <div class="nav-logo">
      <a href="index.html"><img src="../../../img/travel_logo_white_2.png" alt="travel-logo"></a>
    </div>
    <ul class="nav-links">
      <li><a href="index.html">Home</a></li>
      <li><a href="trips.html">My Trips</a></li>
      <div id="dropdown">
        <a href="#" id="dropbtn">About<i class="fa fa-caret-down"></i></a>
        <div id="myDropdown" class="dropdown-content">
          <a href="#">Who We Are</a>
          <a href="#">Services</a>
        </div>
      </div>
      <li><a href="#">Help</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
  <!-- Socials -->
  <div class="social-box">
    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f "></i></a>
    <a href="https://www.instagram.com" target="_blank"> <i class="fab fa-instagram-square"></i></a>
    <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/home" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <!-- Section Showcase -->

  <section id="showcase">
    <div class="info-box">
      <h2>You have no trips! Please go back to home page and fill in the form!</h2>
      <a class="back-btn" href="index.html">Home</a>
    </div>
  </section>

  <!-- Footer -->
  <footer id="main-footer">
    <div class="container">
      <div class="footer-container">
        <div class="join-club">
          <h3>Join Our Club</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, nesciunt!</p>
          <a href="#">Join Now</a>
        </div>
        <div class="site-links">
          <h3>Site Links</h3>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">My Trips</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Who We Are</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="footer-subscribe">
          <h3>Subscribe</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <form class="subscribe-box">
            <label for="fname">First name:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="lname">Last name:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <label for="email">Email:</label>
            <input type="email">
            <a href="#" type="submit">SUBSCRIBE</a>
          </form>
        </div>
      </div>
      <div class="footer-copyright">
        <p>
          Copyright &copy; 2020, All Rights Reserved
        </p>
      </div>
      </section>
  </footer>
  <script>
    // Take data from local storage
    let trips;
    if (localStorage.getItem("trips") === null) {
      trips = [];
    } else {
      trips = JSON.parse(localStorage.getItem("trips"));
    }
    console.log(trips);


    createTravelCard(trips);

    function createTravelCard(trips) {
      let i = 0;
      if (trips.length > 0) {
        for (i; i < trips.length; i++) {
          // DOM elements appendChild
          // Add div my-trip
          let showcaseBox = document.createElement("div");
          let showcase = document.getElementById("showcase");
          showcase.appendChild(showcaseBox);

          // Add div class
          showcaseBox.className = "my-trip";

          // add div trip-img
          let tripImg = document.createElement("div");
          showcaseBox.appendChild(tripImg);
          // Add div class
          tripImg.className = "trip-img";

          // Add div trip-box
          let tripBox = document.createElement("div");
          showcaseBox.appendChild(tripBox);
          // Add div class
          tripBox.className = "trip-box";

          // // Add div trip-to
          let tripTo = document.createElement("div");
          tripBox.appendChild(tripTo);
          // // Add div class
          tripTo.className = "trip-to box";

          // // Add div country
          let country = document.createElement("div");
          tripBox.appendChild(country);
          // // Add div class
          country.className = "country box";

          // // // Add div departing-date
          let departingDate = document.createElement("div");
          tripBox.appendChild(departingDate);
          // // // Add div class
          departingDate.className = "departing-date box";

          // // // Add div weather
          let weather = document.createElement("div");
          tripBox.appendChild(weather);
          // // // Add div class
          weather.className = "weather box";

          // // // Add div temperature
          let temp = document.createElement("div");
          tripBox.appendChild(temp);
          // // // Add div class
          temp.className = "temp box";

          // Add div btns-box
          let btnBox = document.createElement("div");
          tripBox.appendChild(btnBox);
          // Add div class
          btnBox.className = "btn-box";

          // Add link
          let removeBtn = document.createElement("a");
          removeBtn.innerHTML = "Remove Trip";
          btnBox.appendChild(removeBtn);
          // Add link class
          removeBtn.className = "remove-btn"
          // Update UI
          const destinationElements = document.querySelectorAll('.trip-to');
          destinationElements[i].innerHTML = 'City: ' + trips[i].destination;
          const countryElements = document.querySelectorAll('.country');
          countryElements[i].innerHTML = 'Country: ' + trips[i].country;
          const tempElements = document.querySelectorAll('.temp');
          tempElements[i].innerHTML = 'Temperature: ' + trips[i].temperature;
          const weatherElements = document.querySelectorAll('.weather');
          weatherElements[i].innerHTML = 'Weather Info: ' + trips[i].weatherInfo;
          const imgElements = document.querySelectorAll('.trip-img');
          imgElements[i].style.backgroundImage = `url(${trips[i].largeImg})`;
        }
      } else {
        const infoBox = document.querySelector(".info-box");
        infoBox.style.display = 'initial';
      }

    }

  </script>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
</body>

</html>