<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Time.</title>
  <script src="https://kit.fontawesome.com/583e53361f.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../../../dist/main.js"></script>
</head>

<body>
  <!-- Navbar -->
  <nav id="navbar">
    <div class="nav-logo">
      <img src="../../../img/travel_logo_white_2.png" alt="travel-logo">
    </div>
    <ul class="nav-links">
      <li><a href="index.html">Home</a></li>
      <li><a href="trips.html">My Trips</a></li>
      <div id="dropdown">
        <a href="#" id="dropbtn">About<i class="fa fa-caret-down"></i></a>
        <div id="myDropdown" class="dropdown-content">
          <a href="#">Who We Are</a>
          <a href="#">Services</a>
        </div>
      </div>
      <li><a href="#">Help</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
  <!-- Socials -->
  <div class="social-box">
    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f "></i></a>
    <a href="https://www.instagram.com" target="_blank"> <i class="fab fa-instagram-square"></i></a>
    <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/home" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <!-- Section Showcase -->
  <section id="showcase"></section>
  <section id="showcase-box">
    <div class="my-trip">
      <div class="trip-img"></div>

      <div class="trip-box">
        <div id="trip-to" class="box">My Trip To:</div>
        <div id="departing-date" class="box">Departing date:</div>
        <div id="weather" class="box">Typical Weather For Then Is:</div>

        <div class="btns-box">
          <a class="save-btn" href="#">Save Trip</a>
          <a class="remove-btn" href="#">Remove Trip</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer id="main-footer">
    <div class="container">
      <div class="footer-container">
        <div class="join-club">
          <h3>Join Our Club</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, nesciunt!</p>
          <a href="#">Join Now</a>
        </div>
        <div class="site-links">
          <h3>Site Links</h3>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">My Trips</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Who We Are</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="footer-subscribe">
          <h3>Subscribe</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <form class="subscribe-box">
            <label for="fname">First name:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="lname">Last name:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <label for="email">Email:</label>
            <input type="email">
            <a href="#" type="submit">SUBSCRIBE</a>
          </form>
        </div>
      </div>
      <div class="footer-copyright">
        <p>
          Copyright &copy; 2020, All Rights Reserved
        </p>
      </div>
      </section>
  </footer>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
</body>

</html>