<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Time.</title>
  <script src="https://kit.fontawesome.com/583e53361f.js" crossorigin="anonymous"></script>
  <script src="../js/gettrips.js"></script>
</head>

<body>
  <!-- Navbar -->
  <nav id="navbar">
    <div class="nav-logo">
      <a href="index.html"><img src="../../../img/travel_logo_white_2.png" alt="travel-logo"></a>
    </div>
    <ul class="nav-links">
      <li><a href="index.html">Home</a></li>
      <li><a href="trips.html">My Trips</a></li>
      <li>
        <a href="#">About</a>
        <ul class="sub-menu">
          <li><a class="sub-btn" href="index.html#section-about">Who We Are?</a></li>
          <li><a class="sub-btn" href="index.html#services-container">Services</a></li>
        </ul>
      </li>
      <li><a href="index.html#section-help">Help</a></li>
      <li><a href="index.html#section-help">Contact</a></li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
  <!-- Socials -->
  <div class="social-box">
    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f "></i></a>
    <a href="https://www.instagram.com" target="_blank"> <i class="fab fa-instagram-square"></i></a>
    <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/home" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="add-trip">
    <a href="index.html" class="my-super-cool-btn">
      <span> <i class="fas fa-plus"></i></span>
    </a>
  </div>
  <!-- Section Showcase -->
  <section id="showcase">
    <div class="info-box">
      <img class="icon"
        src="../../../img/iconfinder_12_Emoji_exhausted_emoticon_tired_emoji_tired_face_sad_unhappy_3129760.png" alt="">
      <h1>Oh No!</h1>
      <h2>Nothing Here, But Me...</h2><br>
      <p>You don't have any trip! <br>Please click button below and fill in form on Home Page!</p>
      <a href="index.html" class="back-btn">Add Trip!</a>
    </div>
  </section>
  <!-- Footer -->
  <footer id="main-footer">
    <div class="container">
      <div class="footer-container">
        <div class="join-club footer-div">
          <h3>Join Our Club</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, nesciunt!</p>
          <a href="#">Join Now</a>
        </div>
        <div class="site-links footer-div">
          <h3>Site Links</h3>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="trips.html">My Trips</a></li>
            <li><a href="#">About</a></li>
            <li><a href="index.html#section-about">Who We Are</a></li>
            <li><a href="index.html#services-container">Services</a></li>
            <li><a href="index.html#section-help">Help</a></li>
            <li><a href="index.html#section-help">Contact</a></li>
          </ul>
        </div>
        <div class="footer-subscribe">
          <h3>Subscribe</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <form class="subscribe-box">
            <label for="fname">First name:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="lname">Last name:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <label for="email">Email:</label>
            <input type="email">
            <a href="#" type="submit">SUBSCRIBE</a>
          </form>
        </div>
      </div>
      <div class="footer-copyright">
        <p>
          Copyright &copy; 2020, All Rights Reserved
        </p>
      </div>
      </section>
      <button id="back-to-top-btn"><i class="fas fa-angle-double-up"></i></i></button>
  </footer>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
</body>

</html>