@import "./navbar";
@import "./variables";
@import "./footer";

@mixin box {
  width: 400px;
  height: 50px;
  padding: 15px;
}

.box {
  @include box();
}

// Section Showcase
#showcase {
  background-color: $colorSix;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: auto;
  padding-top: 160px;
  padding-bottom: 20px;
}

.add-trip {
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 130;
  top: 185px;
  left: 90vw;
  i {
    color: $textColorTwo;
  }
}
.my-super-cool-btn {
  position: relative;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 2rem;
  box-sizing: border-box;
}
.my-super-cool-btn span {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}
.my-super-cool-btn span:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  border-radius: 100%;
  border: 1px solid #f3cf14;
  box-sizing: border-box;
  transition: all 0.85s cubic-bezier(0.25, 1, 0.33, 1);
  box-shadow: 0 30px 85px rgba(0, 0, 0, 0.14), 0 15px 35px rgba(0, 0, 0, 0.14);
}
.my-super-cool-btn:hover span:before {
  transform: scale(0.8);
  box-shadow: 0 20px 55px rgba(0, 0, 0, 0.14), 0 15px 35px rgba(0, 0, 0, 0.14);
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes swag1 {
  0% {
    top: 50px;
    left: 50px;
    width: 8px;
  }
  50% {
    width: 30px;
    opacity: 1;
  }
  100% {
    top: 20px;
    left: 20px;
    width: 8px;
    opacity: 1;
  }
}
@keyframes swag1-out {
  0% {
    top: 20px;
    left: 20px;
    width: 8px;
  }
  50% {
    width: 30px;
    opacity: 1;
  }
  100% {
    top: 50px;
    left: 50px;
    width: 8px;
    opacity: 0;
  }
}

.info-box {
  height: 600px;
  width: 540px;
  text-align: center;
  padding: 30px;
  display: none;
  font-family: $headingFont;
  h1 {
    font-size: 2rem;
    padding-top: 20px;
  }
  h2 {
    line-height: 50px;
    letter-spacing: 2px;
    padding-bottom: 20px;
  }
  p {
    padding-bottom: 40px;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: bold;
  }
}
.icon {
  width: 40%;
}

.back-btn {
  display: inline-block;
  padding: 15px 40px;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $colorSeven;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($colorSeven, 10%);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

.my-trip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $colorSix;
  width: 75%;
  background-color: transparent;
  border: 1px solid $textColorTwo;
  font-family: $textFont;
  background-color: $bgColor;
  padding: 40px;
  margin-bottom: 20px;
}

.trip-img {
  height: 300px;
  width: 400px;
  margin-right: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.trip-box {
  font-family: $textFont;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-box {
  height: 100px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.remove-trip-btn {
  color: $textColorOne;
  text-decoration: none;
  margin: 40px 10px;
  background-color: $colorSeven;
  padding: 1rem 1rem;
  width: 200px;
  height: 50px;
  text-align: center;
  &:hover {
    background-color: $colorTwo;
    cursor: pointer;
  }
}
