@import "./variables";

#navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: fixed;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  z-index: 100;
  text-transform: uppercase;
  ul {
    display: flex;
    align-items: flex-end;
  }
  li {
    list-style: none;
    padding: 0 2rem;
    margin: 1rem;
  }
  a {
    text-decoration: none;
    letter-spacing: 2px;
    color: $textColorTwo;
    font-family: $textFont;
    &:hover {
      color: $colorSeven;
    }
  }
}

.nav-logo img {
  width: 170px;
  margin-left: 50px;
}
