@import "./variables";

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 15vh;
  position: fixed;
  background-color: transparent;
  z-index: 100;
  text-transform: uppercase;
  width: 100%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    letter-spacing: 2px;
    color: $textColorTwo;
    font-family: $textFont;
    &:hover {
      color: $colorSeven;
    }
  }
}

.burger div {
  width: 25px;
  height: 5px;
  background-color: blue;
  margin: 5px;
}

.nav-logo img {
  width: 170px;
  margin-left: 50px;
}
