@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
#navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  position: fixed;
  background-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  z-index: 100;
  text-transform: uppercase;
}

#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar li {
  list-style: none;
  padding: 1rem;
  margin: 0 1rem;
}

#navbar a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #f7f4f3;
  font-family: "Muli", sans-serif;
}

#navbar a:hover {
  color: #e07015;
}

.nav-logo img {
  width: 150px;
  margin-left: 30px;
}

/* Footer */
#main-footer {
  background: #f7f4f3;
  font-family: "Muli", sans-serif;
  color: #292929;
}

.footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: auto;
  max-width: 1100px;
  grid-gap: 1.5rem;
  padding: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.footer-container h3 {
  margin-bottom: 1rem;
}

.footer-container ul {
  list-style-type: none;
}

.footer-container a {
  text-decoration: none;
  font-weight: bold;
  line-height: 2rem;
  color: #292929;
}

.footer-container a:hover {
  color: #ad825a;
}

.footer-container p {
  font-size: 15px;
  margin-bottom: 1rem;
}

.footer-copyright {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  text-align: center;
  padding-top: 1rem;
  margin-top: 1.5rem;
  border-top: 1px solid var(--main-salomon);
}

.footer-subscribe input[type="email"],
.footer-subscribe input[type="text"] {
  width: 100%;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
}

.footer-subscribe input[type="submit"] {
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#front-page {
  background: url("../../../img/cafe-camera-classic-close-up-413960.jpg") center center/cover no-repeat;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  height: 100vh;
}

.social-box {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 40vh;
  left: 30px;
  z-index: 101;
}

.social-box a {
  color: #f4b886;
  font-size: 2rem;
  line-height: 50px;
}

.social-box a:hover {
  color: #e07015;
}

#section-travel {
  position: relative;
}

.travel-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 350px;
  width: 500px;
  top: -50vh;
  left: 50vw;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  background-color: #ded2ce;
  border-radius: 30px;
  -webkit-box-shadow: 3px 3px 4px 0px #333;
          box-shadow: 3px 3px 4px 0px #333;
  font-family: "Muli", sans-serif;
}

.travel-box h2 {
  text-align: center;
  color: #292929;
}

.travel-box input {
  width: 60%;
  margin: 10px 0 10px;
  height: 40px;
  border: 1px solid #e07015;
  border-radius: 5px;
}

.travel-box button {
  width: 200px;
  height: 40px;
  border-radius: 30px;
  font-family: "Muli", sans-serif;
  background-color: #e07015;
  font-weight: bold;
  font-size: 1rem;
}

.travel-box button:hover {
  background-color: #f4b886;
  cursor: pointer;
}

#section-about {
  height: 100vh;
  font-family: "Muli", sans-serif;
  position: relative;
  color: #f7f4f3;
}

#section-about h1 {
  font-size: 2rem;
  text-align: center;
  padding-top: 40px;
}

.about-bg {
  background: url("../../../img/photo-of-man-wearing-eyeglasses-3184611.jpg") center center/cover no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.who-box {
  margin: 120px;
}

.who-text {
  width: 600px;
  height: 600px;
  background-color: #ded2ce;
  text-align: left;
  padding: 30px;
  font-family: "Muli", sans-serif;
}

.who-text h2 {
  text-align: center;
}

.who-text h3 {
  color: #e07015;
}

.who-text p {
  font-size: 1rem;
  color: #292929;
}

#services-container {
  height: 100vh;
  font-family: "Muli", sans-serif;
  position: relative;
  color: #f7f4f3;
}

#services-container h1 {
  font-size: 2rem;
  text-align: center;
  padding-top: 40px;
}

.services-bg {
  background: url("../../../img/action-architecture-blurred-background-building-386007.jpg") center center/cover no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.services-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  max-width: 1200px;
}

.services-info div:nth-child(1) {
  margin-left: 30%;
  text-align: right;
}

.services-info div:nth-child(2) {
  margin-left: -30%;
  text-align: left;
}

.services-info div:nth-child(3) {
  margin-left: 30%;
  text-align: right;
}

.services-info div:nth-child(4) {
  margin-left: -30%;
  text-align: left;
}

.services-box {
  width: 300px;
}
/*# sourceMappingURL=style.css.map */