@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
#navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  position: fixed;
  background-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  z-index: 100;
  text-transform: uppercase;
}

#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#navbar li {
  list-style: none;
  padding: 0 2rem;
  margin: 1rem;
}

#navbar a {
  text-decoration: none;
  letter-spacing: 2px;
  color: #f7f4f3;
  font-family: "Muli", sans-serif;
}

#navbar a:hover {
  color: #e07015;
}

.nav-logo img {
  width: 150px;
  margin-left: 50px;
}

/* Footer */
.container {
  padding: 0 2rem;
  max-width: 1200px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-footer {
  background: #f7f4f3;
  font-family: "Muli", sans-serif;
  color: #292929;
}

.footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-container h3 {
  margin-bottom: 1rem;
}

.footer-container ul {
  list-style-type: none;
}

.footer-container a {
  text-decoration: none;
  font-weight: bold;
  line-height: 2rem;
  color: #292929;
}

.footer-container a:hover {
  color: #e07015;
}

.footer-container p {
  font-size: 15px;
  margin-bottom: 1rem;
}

.footer-copyright {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  text-align: center;
  padding: 1rem;
  margin-top: 1.5rem;
}

.subscribe-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe-box input[type="email"],
.subscribe-box input[type="text"] {
  width: 100%;
  padding: 0.3rem;
}

.subscribe-box a {
  background-color: #f4b886;
  text-align: center;
  padding: 0.3px;
  margin-top: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 2rem;
  max-width: 1200px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#front-page {
  background: url("../../../img/cafe-camera-classic-close-up-413960.jpg") center center/cover no-repeat;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  height: 100vh;
}

.social-box {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 40vh;
  left: 0;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 10px;
}

.social-box a {
  color: #f4b886;
  font-size: 2rem;
  line-height: 50px;
}

.social-box a:hover {
  color: #e07015;
}

#section-travel {
  position: relative;
}

.travel-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 380px;
  width: 500px;
  top: -50vh;
  left: 50vw;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  background-color: transparent;
  border: 1px solid #f7f4f3;
  font-family: "Muli", sans-serif;
  background-color: rgba(0, 0, 0, 0.3);
}

.travel-box form h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #f7f4f3;
  margin-bottom: 15px;
}

.travel-box form input {
  width: 60%;
  margin: 10px 0 10px;
  height: 40px;
  border: 1px solid #f7f4f3;
  padding-left: 5px;
  text-transform: uppercase;
  font-family: "Muli", sans-serif;
  background-color: transparent;
  color: #f7f4f3;
}

.travel-box form input::-webkit-input-placeholder {
  color: #f7f4f3;
  letter-spacing: 1px;
  font-weight: 400;
}

.travel-box form input:-ms-input-placeholder {
  color: #f7f4f3;
  letter-spacing: 1px;
  font-weight: 400;
}

.travel-box form input::-ms-input-placeholder {
  color: #f7f4f3;
  letter-spacing: 1px;
  font-weight: 400;
}

.travel-box form input::placeholder {
  color: #f7f4f3;
  letter-spacing: 1px;
  font-weight: 400;
}

.travel-box form a {
  margin-top: 6px;
  padding-top: 8px;
  text-align: center;
  width: 60%;
  height: 40px;
  font-family: "Muli", sans-serif;
  color: #f7f4f3;
  letter-spacing: 1px;
  background-color: #e07015;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
}

.travel-box form a:hover {
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
  background-color: #f4b886;
  cursor: pointer;
}

#section-about {
  height: 100vh;
  font-family: "Muli", sans-serif;
  position: relative;
}

#section-about h1 {
  font-size: 2rem;
  text-align: center;
  padding-top: 40px;
  color: #f7f4f3;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.about-bg {
  background: url("../../../img/photo-of-woman-wearing-eyeglasses-3184405.jpg") center center/cover no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.who-box {
  margin: 100px;
}

.who-text {
  width: 600px;
  height: 650px;
  text-align: left;
  padding: 25px;
  font-family: "Muli", sans-serif;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #f7f4f3;
}

.who-text h3 {
  color: #e07015;
  text-transform: uppercase;
  padding: 5px 0;
  letter-spacing: 2px;
  text-align: left;
  font-weight: bold;
}

.who-text p {
  font-size: 1rem;
  color: #f7f4f3;
  letter-spacing: 1px;
}

#services-container {
  height: 100vh;
  font-family: "Muli", sans-serif;
  position: relative;
  color: #f7f4f3;
}

#services-container h1 {
  font-size: 2rem;
  text-align: center;
  padding-top: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.services-bg {
  background: url("../../../img/action-architecture-blurred-background-building-386007.jpg") center center/cover no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.services-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.services-info div:nth-child(1) {
  margin-left: 40%;
  text-align: right;
}

.services-info div:nth-child(2) {
  margin-left: -40%;
  text-align: left;
}

.services-info div:nth-child(3) {
  margin-left: 40%;
  text-align: right;
}

.services-info div:nth-child(4) {
  margin-left: -40%;
  text-align: left;
}

.services-box {
  width: 300px;
  padding: 10px;
  border: 1px solid #ded2ce;
  background-color: rgba(0, 0, 0, 0.3);
}

.services-box h3 {
  font-size: 1.25rem;
  margin-bottom: 8px;
}

.services-box p {
  font-size: 0.85rem;
}

.services-box i {
  margin-bottom: 10px;
}

#section-help {
  height: 100vh;
  font-family: "Muli", sans-serif;
  position: relative;
}

#section-help h1 {
  font-size: 2rem;
  text-align: center;
  padding-top: 40px;
  color: #e07015;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.help-bg {
  background: url("../../../img/cheerful-young-female-secretary-using-on-smartphone-at-4149075.jpg") center center/cover no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.help-text {
  height: 400px;
  width: 500px;
  margin: 100px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #ded2ce;
  color: #f7f4f3;
  padding: 50px;
  letter-spacing: 1px;
}

.help-text h2 {
  text-align: center;
  margin-bottom: 10px;
}

.help-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help-box {
  height: 150px;
  padding-top: 40px;
  width: 100%;
  background-color: #f4b886;
  letter-spacing: 1px;
  font-weight: bold;
}

.help-box i {
  font-size: 2rem;
  padding-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */