@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
#navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  position: fixed;
  background-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  z-index: 100;
}

#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar li {
  list-style: none;
  padding: 1rem;
  margin: 0 1rem;
}

#navbar a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #eee9e7;
  font-family: "Muli", sans-serif;
}

.nav-logo img {
  height: 40px;
  width: 200px;
}

/* Footer */
#main-footer {
  background: #eee9e7;
  font-family: "Muli", sans-serif;
  color: #292929;
}

.footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: auto;
  max-width: 1100px;
  grid-gap: 1.5rem;
  padding: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.footer-container h3 {
  margin-bottom: 1rem;
}

.footer-container ul {
  list-style-type: none;
}

.footer-container a {
  text-decoration: none;
  font-weight: bold;
  line-height: 2rem;
  color: #292929;
}

.footer-container a:hover {
  color: #ad825a;
}

.footer-container p {
  font-size: 15px;
  margin-bottom: 1rem;
}

.footer-copyright {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  text-align: center;
  padding-top: 1rem;
  margin-top: 1.5rem;
  border-top: 1px solid var(--main-salomon);
}

.footer-subscribe input[type="email"],
.footer-subscribe input[type="text"] {
  width: 100%;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
}

.footer-subscribe input[type="submit"] {
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#front-page {
  background: url("../../../img/black-camera-with-3-paris-landmarks-photos-163194.jpg") center center/cover no-repeat;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  height: 100vh;
}

#section-travel {
  position: relative;
}

.travel-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 400px;
  width: 500px;
  top: -50vh;
  left: 50vw;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  background-color: #ded2ce;
  border-radius: 30px;
  -webkit-box-shadow: 3px 3px 4px 0px #333;
          box-shadow: 3px 3px 4px 0px #333;
  font-family: "Muli", sans-serif;
}

.travel-box h2 {
  text-align: center;
  color: #292929;
}

.travel-box input {
  width: 60%;
  margin: 10px 0 10px;
  height: 40px;
  border: 1px solid #ad825a;
}

.travel-box button {
  width: 200px;
  height: 40px;
  border-radius: 30px;
  font-family: "Muli", sans-serif;
  background-color: #ad825a;
  font-weight: bold;
  font-size: 1rem;
}

.travel-box button:hover {
  background-color: #f4b886;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */